/* This is an example CSS file, feel free to remove/edit it anytime */
* {
  box-sizing: border-box;
}
.row{
  display: flex;
  max-width: 100%;
}



.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}

body {
  background-color: hsl(122deg 37.5% 84.31%);
  position: relative;
}

.container {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 15px);

}

.center {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* width: 35%; */
  background-color: hsl(134.67deg 56.25% 31.37%);
  position: relative;
}

.right-container {
  /* max-width: 65%; */
  padding-left: 15px;
}

.contact-container {
  bottom: 10%;
  position: relative;
  width: 100%;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text-container {
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.text-container>label {
  font-size: 16px;
}

.text-container>span {
  font-size: 14px;
  font-weight: lighter;
}

.horizontal-line {
  height: 20px;
  width: 100%;
  background-color: hsl(0deg 0% 87.84%);
  margin-bottom: 15px;
}

.icons-container {
  margin-top: 10px;
  display: flex;
  width: 100px;
  justify-content: space-between;
  ;
}

.icons-container>a>svg {
  fill: hsl(130.59deg 24.64% 72.94%);
}

.icons {
  display: flex;
  align-items: center;
}

.icons>svg {
  fill: hsl(130.59deg 24.64% 72.94%);
}

.icons>label {
  margin-left: 5px;
}

.description {
  text-align: justify;
  max-width: 100%;
  line-height: 1.5;
  padding-right: 20px;
}

.right-container>h1 {
  font-size: 35px;
  text-transform: uppercase;
}

.right-container>h1>strong {
  color: green;
}

.right-container>h5 {
  font-size: 16px;
  margin-bottom: 3px;
}

.skills-container {
  display: flex;
}


@media only screen and (max-width: 768px) {
  /* For tablets: */
  .row{
    flex-direction: column;
  }
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  [class*="col-"] {
    order: 10;
  }
  .order-s-first{
    order: 1;
  }

  .left-container {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contact-container{
    padding-top: 50px;
  }
  .skills-container {
   flex-direction: column;
   margin:0px;
   padding:20px 0px;
  }
  .skills-container>ul{
    margin: 0px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .row{
    flex-direction: row;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}